# vim:ft=gitconfig ts=2 sw=2 

[user]
  name = xvzc
  email = dev.kwanghoo@gmail.com
  signingkey = ~/.ssh/xvzc.pub

[init]
  defaultBranch = main

[core]
  editor = "nvim"
  autocrlf = "input"

[commit]
  gpgSign = true

[tag]
  gpgSign = true;

[gpg]
  format = ssh

[puul]
  rebase = true;

[includeIf "gitdir:~/_work/"] 
  path = ~/_work/.gitconfig

